{{> head }}
    {{> navbar }}
    
 
 <div class="row about">

     <div class="col-8 ">
         <h2>Batman</h2>

         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eveniet quas quo voluptas dolore provident repudiandae deleniti fuga quis natus nostrum ipsa quia numquam, modi odio quasi, labore laudantium officia.
        </p>

     </div>
     <div class="col-4">

         <img src="http://icons.iconarchive.com/icons/diversity-avatars/avatars/256/batman-icon.png" alt="Batman" class="img-thumbnail " >

     </div>


 </div>

{{> footer }}